.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/img/background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo {
  width: 30em;
}